.center-logo {
  width: 468px;
  margin: auto;
}

.center-text {
  text-align:center;
  font-family: "Tahoma";
}

.center-text a {
  text-decoration: none;
}

.center-text h2 {
  color: black;
  font-style: bold;
}

.center {
  width:700px;
  margin:auto;
}


.tabbar {
  border: 1px solid;
  border-top: 0px;
}

.header {
  border: 1px solid;
}

.menuitem {
  border-right: 1px solid;
  padding: 0px 2px 0px 2px;
  float:left;
  width:80px;
  text-align:center;
}

.menuitem a {
  color:black;
  text-decoration: none;
}

.menuitem.right {
  float:right;
  border-right: 0px;
  border-left: 1px solid;
}

.clear {
  clear:both;
}

.logo {
  float:left;
}

.header span {
  font-size:3em;
  float:right;
  margin: 10px;
}

.content h2 {
}
